.markdownContent .code-frame button.qa-copy-code { 
  float: none; /*クラスによるfloatを解除*/
  font-size: initial; /*クラスによるフォントの拡大を解除*/
  display: inline-block; /*コード内かつコード名の右側へ*/
  position: absolute;
  margin-top: 0;
  margin-left: 5px;
  cursor: pointer;

  & .qa-clippy {
    height: 16px;
  }
}

.markdownContent .code-frame button.qa-copy-all-code { 
  float: none; /*クラスによるfloatを解除*/
  font-size: initial; /*クラスによるフォントの拡大を解除*/
  display: inline-block; /*コード内かつコード名の右側へ*/
  position: absolute;
  margin-top: 0;
  margin-left: 23px;
  cursor: pointer;

  & .qa-clippy {
    height: 16px;
  }
}

.tooltipped {
    position: relative
}

.tooltipped:after {
    position: absolute;
    z-index: 1000000;
    display: none;
    padding: 5px 8px;
    font: normal normal 11px/1.5 Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Segoe UI Emoji","Segoe UI Symbol";
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: break-word;
    white-space: pre;
    pointer-events: none;
    content: attr(aria-label);
    background: rgba(0,0,0,0.8);
    border-radius: 3px;
    -webkit-font-smoothing: subpixel-antialiased
}

.tooltipped:before {
    position: absolute;
    z-index: 1000001;
    display: none;
    width: 0;
    height: 0;
    color: rgba(0,0,0,0.8);
    pointer-events: none;
    content: "";
    border: 5px solid transparent
}

.tooltipped:hover:before,.tooltipped:hover:after,.tooltipped:active:before,.tooltipped:active:after,.tooltipped:focus:before,.tooltipped:focus:after {
    display: inline-block;
    text-decoration: none
}

.tooltipped-s:after,.tooltipped-se:after,.tooltipped-sw:after {
    top: 100%;
    right: 50%;
    margin-top: 5px
}

.tooltipped-s:before,.tooltipped-se:before,.tooltipped-sw:before {
    top: auto;
    right: 50%;
    bottom: -5px;
    margin-right: -5px;
    border-bottom-color: rgba(0,0,0,0.8)
}


.tooltipped-s:after,.tooltipped-n:after {
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%)
}
